{% extends "check_attributes_app/base.html" %}
{% load static %}
{% block title %}
    Атрибуты к ЦИМ
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-100 align-items-center justify-content-center" id="all_file_block">
        <form method="POST" class="my_form d-flex w-100 flex-column align-items-center justify-content-center"
              id="form_send_file"
              data-ajax-url={% url 'index' %}
                      enctype="multipart/form-data">
            <div class="w-50 d-flex flex-column" id="start_body">
                <div class="d-flex w-100 align-items-center justify-content-start">
                    {#                <div class="d-flex text-32px-bold" style="line-height: 110%">#}
                    {#                    Подсчет форматов <br><span class="text-32px-regular">прием заявок на печать</span>#}
                    {#                </div>#}
                    <div class="d-flex flex-column w-100">
                        <div class="d-flex text-32px-bold w-100">
                            Проверка атрибутов ИМ
                        </div>
                        <div class="text-24px-light w-100" style="margin-top: -5px">Удаляем строки и столбцы, красим в
                            красный
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100">
                    {% csrf_token %}
                    {{ form }}
                </div>
            </div>
        </form>


        <div id="loader-big" class=" w-100 align-items-center justify-content-center d-none flex-column">
            <p class="text-18px-bold d-flex" style="color: #202022">Работаем</p>
            <span class="loader-big d-flex"></span>
            <div id="to_index" class="d-flex align-items-center text-16px-regular link_dot_decoration"
                 onclick="location.reload();">На главную
            </div>
        </div>

        <div id="drop_file" class=" w-100 align-items-center justify-content-center d-none flex-column">
            <span class="drop_file d-flex"></span>
        </div>
    </div>



    <script>
        // Проверка на максимальное значение допуска подсчета, 30мм
        function checkInput(el) {
            if (el.value.length > 2) {
                el.value = el.value.slice(0, 2);
            }
            if (el.value > 30) {
                el.value = 30;
            }
        }

        // Открытие модального окна редактирования допуска
        function onClickСlearanceModal() {
            $('#clearanceModal').modal('show');

        }

        // Проверка на ввод только чисел в окне допуска
        function onlyNumberKey(evt) {
            // Only ASCII character in that range allowed
            let ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

        // Изменение допуска
        $('#id-clearance-modal-form').submit(function (e) {
            e.preventDefault()

            var form = $(this)
            var id_clearance_modal_form = $("#id-clearance-modal-form").attr("data-ajax-url")

            $.ajax({
                type: "POST",
                url: id_clearance_modal_form,
                data: form.serialize(),
                success: function (data) {
                    var cookieObjectValue = (document.cookie.match('(^|; )' + encodeURIComponent('clearance') + '=([^;]+)') || []).pop() || null;
                    console.log(cookieObjectValue)
                    $('#clearance_info_index').text(cookieObjectValue)
                    $('#clearanceModal').modal('hide');
                }
            })
        })

        // drag and drop
        const dropZone = document.body;
        // статус для отображения стартовой страницы или результата
        let status_calc = 0;

        if (dropZone) {
            let hoverClassName = 'hover';

            // затягиваем файлы
            dropZone.addEventListener("dragenter", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
                $('#start_body').removeClass('d-flex')
                $('#start_body').addClass('d-none')
                $('#clearance_info').removeClass('d-flex')
                $('#clearance_info').addClass('d-none')
                $('#inside').removeClass('d-flex')
                $('#inside').addClass('d-none')

                $('#all_file_block').addClass('align-items-center')
                $('#all_file_block').addClass('justify-content-center')
                $('#form_send_file').addClass('align-items-center')
                $('#form_send_file').addClass('justify-content-center')
                $('#drop_file').removeClass('d-none')
                $('#drop_file').addClass('d-flex')
                $('body').addClass('grey_background')
                console.log('dragenter event')
            });


            dropZone.addEventListener("dragend", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
                if (status_calc === 0) {
                    $('#start_body').removeClass('d-none')
                    $('#start_body').addClass('d-flex')
                    $('#clearance_info').removeClass('d-none')
                    $('#clearance_info').addClass('d-flex')
                    $('body').removeClass('grey_background')
                } else {
                    $('#all_file_block').removeClass('align-items-center')
                    $('#all_file_block').removeClass('justify-content-center')
                    $('#form_send_file').removeClass('align-items-center')
                    $('#form_send_file').removeClass('justify-content-center')
                    $('#inside').removeClass('d-none')
                    $('#inside').addClass('d-flex')
                    $('body').removeClass('grey_background')
                }
                $('#drop_file').removeClass('d-flex')
                $('#drop_file').addClass('d-none')
                console.log('dragend event')
            });

            dropZone.addEventListener("dragover", function (e) {
                e.preventDefault();
                $('#start_body').removeClass('d-flex')
                $('#start_body').addClass('d-none')
                $('#clearance_info').removeClass('d-flex')
                $('#clearance_info').addClass('d-none')
                $('#inside').removeClass('d-flex')
                $('#inside').addClass('d-none')

                $('#all_file_block').addClass('align-items-center')
                $('#all_file_block').addClass('justify-content-center')
                $('#form_send_file').addClass('align-items-center')
                $('#form_send_file').addClass('justify-content-center')
                $('#drop_file').removeClass('d-none')
                $('#drop_file').addClass('d-flex')
                $('body').addClass('grey_background')

                console.log('dragover event')
                dropZone.classList.add(hoverClassName);
            });

            dropZone.addEventListener("dragleave", function (e) {
                e.preventDefault();
                console.log('dragleave event')
                if (status_calc === 0) {
                    $('#start_body').removeClass('d-none')
                    $('#start_body').addClass('d-flex')
                    $('#clearance_info').removeClass('d-none')
                    $('#clearance_info').addClass('d-flex')
                } else {
                    $('#all_file_block').removeClass('align-items-center')
                    $('#all_file_block').removeClass('justify-content-center')
                    $('#form_send_file').removeClass('align-items-center')
                    $('#form_send_file').removeClass('justify-content-center')
                    $('#inside').removeClass('d-none')
                    $('#inside').addClass('d-flex')
                }
                $('body').removeClass('grey_background')
                $('#drop_file').removeClass('d-flex')
                $('#drop_file').addClass('d-none')
                dropZone.classList.remove(hoverClassName);

            });

            // Это самое важное событие, событие, которое дает доступ к файлам
            dropZone.addEventListener("drop", function (e) {
                e.preventDefault();
                $('body').addClass('grey_background')
                dropZone.classList.remove(hoverClassName);
                // добавление файлов в input
                var fileInput = document.getElementById('id_file')
                fileInput.files = e.dataTransfer.files;
                console.log('fileInput', fileInput.files)
                $('#drop_file').removeClass('d-flex')
                $('#drop_file').addClass('d-none')
                $('#loader-big').removeClass('d-none')
                $('#loader-big').addClass('d-flex')
                $('#form_send_file').submit();
            });
        }

        // если файлы добавили не через drag and drop
        document.getElementById("id_file").onchange = function () {
            $('#form_send_file').submit();
        };

        // отправка файлов на расчет, при добавлении их в форму
        $('#form_send_file').submit(function (e) {
            $('#start_body').removeClass('d-flex')
            $('#start_body').addClass('d-none')
            $('#clearance_info').removeClass('d-flex')
            $('#clearance_info').addClass('d-none')
            $('#drop_file').removeClass('d-flex')
            $('#drop_file').addClass('d-none')
            $('body').addClass('grey_background')
            $('#loader-big').removeClass('d-none')
            $('#loader-big').addClass('d-flex')
            e.preventDefault()
            var data = new FormData($('#form_send_file').get(0))
            //var form = $(this)
            var form_send_file = $("#data-ajax-url").attr("data-ajax-url")
            console.log('form_send_file')
            $.ajax({
                type: "POST",
                url: form_send_file,
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    $("#inside").html(data)
                    $('body').removeClass('grey_background')
                    $('#loader-big').removeClass('d-flex')
                    $('#loader-big').addClass('d-none')
                    $('#start_body').removeClass('d-none')
                    $('#start_body').addClass('d-flex')
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(data)

                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();
                    let hours = today.getHours();
                    let minutes = today.getMinutes();
                    let seconds = today.getSeconds();

                    today = mm + '/' + dd + '/' + yyyy + '/' + hours + '/' + minutes + '/' + seconds;

                    link.download = today + '.xlsx';
                    document.body.appendChild(link);
                    link.click();
                }
            });
        })


    </script>
{% endblock %}
